html {
    position:relative;
    background-image: url("../images/bachelorInBack.jpg");
    background-size: cover;
}

.maintxt {
    position: absolute;
    color: whitesmoke;
}

.img-thumbnail{
    height: 100px;
    width: 100px;
}

.deleteBtn {
    background-color: #dc3545 !important;
}

.updateBtn {
    background-color:  #0d6efd !important;
}





